* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: #000;
    color: #fff;
    display: flex;
    font-family: Courier New, Courier, monospace;
    font-weight: 700;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

canvas {
    background: #fff url(../images/tile.webp);
    border: 32px solid #444;
    border-top-color: #BBB;
    border-right-color: #BBB;
    cursor: url(../images/pointer.webp), auto;
}

    canvas.storm {
        background: #000;
    }

div {
    position: relative;
}

ul {
    color: #000;
    list-style: none;
    text-transform: uppercase;
}

li {
    padding: 0 32px;
    position: absolute;
    line-height: 32px;
}

    li:first-child {
        top: 0;
    }

    li:nth-child(2) {
        top: 0;
        right: 0;
    }

    li:last-child {
        bottom: 0;
        color: #fff;
        margin-left: -32px;
        text-align: center;
        width: 100%;
    }

    li a {
        background: #FFF;
        border: 2px solid #000;
        border-radius: 9px;
        display: inline-block;
        height:18px;
        overflow: hidden;
        position:relative;
        top:5px;
        width: 120px;
    }
        li a b, li a i {
            background: #F00;
            border: 2px solid #FFF;
            border-radius: 7px;
            display: inline-block;
            height: 14px;
            position: absolute;
            top: 0;
            width: 0;
        }

        li a i {
            background-color:#000;
        }
